<a href="https://colab.research.google.com/github/atulnath/Pandas-100-days-challenge/blob/main/pandas_Day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

nums = pd.Series([x for x in range(10,51,10)])
print("Pandas Series is: ")
print(nums)

Pandas Series is:
0    10
1    20
2    30
3    40
4    50
dtype: int64

*Here from the last example, 0,1,2,3,4 are called as labels and 10-50 are the data*

> Now we can access the value using index number as in an array which are called in pandas as a label

In [ ]:
print(nums[2])

30

In [ ]:
#Lets change the labels by defining.

nums = pd.Series([x for x in range(10,51,10)],index=['a','b','c','d','e'])
print("Pandas Series is: ")
print(nums)

Pandas Series is:
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
#Lets access element

print(nums['d'])

40

In [ ]:
#Pandas Series from dictionary

dicts={'A':5, 'B':10, 'C':15}
nums = pd.Series(dicts)
print("Pandas Series is: ")
print(nums)

nums2 = pd.Series(dicts,index=['A','C','A','B'])
print("Pandas Series is: ")
print(nums2)

Pandas Series is:
A     5
B    10
C    15
dtype: int64
Pandas Series is:
A     5
C    15
A     5
B    10
dtype: int64

In [ ]:
#DataFrame can be think as a table, with multiple rows and cols
#It can think as excel sheet where on the top we have colums and we have rows
#think as a record. records are start with index 0


# We can create DataFrame in 4 ways

# Method 01

# Using Python Dictionary

import pandas as pd

student = {'FName':['Atul','Dhanush','Ajay','Hasan'],
           'LName':['Nath','NL','Ramakrishna','Uddin'],
           'StudentStatus':['Yes','No','Yes','No'],
           'Cities':['Chemnitz','Munich','Berlin','Leipzig']
           }

#Lets Create DataFrame from this dictionary

student_df = pd.DataFrame(student)
print(student_df)

     FName        LName StudentStatus    Cities
0     Atul         Nath           Yes  Chemnitz
1  Dhanush           NL            No    Munich
2     Ajay  Ramakrishna           Yes    Berlin
3    Hasan        Uddin            No   Leipzig

In [ ]:
#Method 02

#DataFrame from List

student_list = [['Atul','Nath','Yes','Chemnitz'],
                ['Dhanush','NL','No','Munich'],
                ['Ajay','Ramakrishna','Yes','Berlin'],
                ['Hasan','Uddin','No','Leipzig']
                ]
student_df = pd.DataFrame(student_list,columns=['FName','LName','StudentStatus','Cities'])
print(student_df)

     FName        LName StudentStatus    Cities
0     Atul         Nath           Yes  Chemnitz
1  Dhanush           NL            No    Munich
2     Ajay  Ramakrishna           Yes    Berlin
3    Hasan        Uddin            No   Leipzig

In [ ]:
#Method 03

#DataFrame from a CSV(Comma-Seperated-Values) File

#student_df = pd.read_csv('student.csv')
#print(student_df)

In [ ]:
#Method 04

#By Creating an empty DataFrame

empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#We can set index for the dataframe using set_index method

student_df.set_index('FName',inplace=True)
print(student_df)

               LName StudentStatus    Cities
FName
Atul            Nath           Yes  Chemnitz
Dhanush           NL            No    Munich
Ajay     Ramakrishna           Yes    Berlin
Hasan          Uddin            No   Leipzig

In [ ]:
#Lets access wit FName

print(student_df.loc['Dhanush'])
print('\nAnother Student\n')
print(student_df.loc['Atul'])

LName                NL
StudentStatus        No
Cities           Munich
Name: Dhanush, dtype: object

Another Student

LName                Nath
StudentStatus         Yes
Cities           Chemnitz
Name: Atul, dtype: object